bootstrap.*
build/
classic.json*
ext/
modern.json*
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css

sencha-error-*.log
sass/example

jsonSamples/

# Mac
.DS-Store
.DS_Store

