#Folders
build/
ext/
jsonSamples/
packages/remote/material-icons/
resources/sass/.sass-cache/
sass/example/


#Files
.arch-internal-preview.css
bootstrap.*
classic.json*
modern.json*
resources/.arch-internal-preview.css
sencha-error-*.log


# Mac
.DS-Store
.DS_Store